@import "./styles/variables.css";

@import "./styles/customVkUI/tabbar.css";
@font-face {
  font-family: SFProText;
  src: url("./fonts/SFProText-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: SFProText;
  src: url("./fonts/SFProText-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: SFProText;
  src: url("./fonts/SFProText-Bold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: SFProText;
  src: url("./fonts/SFProText-Light.woff2");
  font-weight: 300;
}
body {
  font-family: SFProText;
  font-weight: 500;
}
body::-webkit-scrollbar {
  width: 5px; /* Ширина всего элемента навигации */
}

body::-webkit-scrollbar-track {
  background: #d4cdff; /* Цвет дорожки */
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4c49a8; /* Цвет бегунка */
  /* border-radius: 20px; Округление бегунка */
  border-radius: 20px;
}

.myCustomThemeTokens--light {
  /* Фон и основной текст */
  --vkui--color_background: var(--color-light-page);
  --vkui--color_text_primary: var(--color-light-text--primary);

  /* Таббар */
  --vkui--color_tabbar_text_inactive: var(--color-light-text--tetritary);
  --vkui--color_text_accent_themed: var(--color-light-accent);
  --vkui--color_background_tertiary: var(--color-light-content);

  /* Иконки таббара */
  --vkui--color_icon_secondary: var(--color-light-text--tetritary);
  --vkui--color_icon_accent_themed: var(--color-light-accent);

  --vkui--color_background_accent_themed: var(--color-light-accent);
  --vkui--color_background_accent_themed--hover: var(
    --color-light-btn-primary--hover
  );
  --vkui--color_background_accent_themed--active: var(
    --color-light-btn-primary--hover
  );

  --vkui--color_stroke_accent_themed: var(--color-light-btn-stroke);

  --vkui--color_field_background: var(--color-light-content);

  --vkui--color_background_content: var(--color-light-content);
}
/* Шапка */
.myCustomThemeTokens--light .vkuiPanel--mode-none .vkuiPanel__in {
  background-color: var(--color-light-page);
}

/* Кнопки "вывез / не вывез вопрос" */
.myCustomThemeTokens--light .buttons-wrapper .vkuiButton {
  color: var(--color-light-btn-stroke);
}
.myCustomThemeTokens--light .buttons-wrapper .btnActive {
  color: var(--color-light-modal--body);
}
/* ==================== Темная тема ==================== */

.myCustomThemeTokens--dark {
  /* Фон и основной текст */
  --vkui--color_background: var(--color-dark-page);
  --vkui--color_text_primary: var(--color-dark-text--primary);

  /* Таббар */
  --vkui--color_tabbar_text_inactive: var(--color-dark-text--tetritary);
  --vkui--color_text_accent_themed: var(--color-dark-text--primary);
  --vkui--color_background_tertiary: var(--color-dark-content);

  /* Иконки таббара */
  --vkui--color_icon_secondary: var(--color-dark-text--tetritary);
  --vkui--color_icon_accent_themed: var(--color-dark-text--primary);

  --vkui--color_background_accent_themed: var(--color-dark-accent);
  --vkui--color_background_accent_themed--hover: var(
    --color-dark-btn-primary--hover
  );
  --vkui--color_background_accent_themed--active: var(
    --color-dark-btn-primary--hover
  );

  --vkui--color_stroke_accent_themed: var(--color-dark-btn-stroke);

  --vkui--color_field_background: var(--color-dark-content);
  --vkui--color_background_secondary: red;

  --vkui--color_background_content: var(--color-dark-content);
}

.myCustomThemeTokens--dark .vkuiPanel--mode-none .vkuiPanel__in {
  background-color: var(--color-dark-page);
}

.vkuiSkeleton__host .vkuiRootComponent__host {
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .myCustomThemeTokens--dark .vkuiPanel__modeNone .vkuiPanel__in,
  .vkuiPanel__modePlain .vkuiPanel__in {
    background-color: var(--color-dark-page);
  }
}
